// app global css in SCSS form
.q-pa-md{
  padding:5% 2% ;
  display:block;
  max-width: 100%;
  max-height: 80%;
}


.my-card{
  width: 100%;
  max-width: 250px;
  bottom: 11vh;
  background: #adc5b8;

}
.hoverButton:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

